<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Verify Email</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="auth-container">
            <h1>Verify Your Email Address</h1>
            <p>A verification link has been sent to your email address.</p>
        </div>
    </body>
</html>
